{% extends "base_generic.html" %}

{% block content %}
  
<h1> {{grade.last_name }} </h1>
<h1> {{grade.Subject}} </h1>
<br></br>
<li> {{grade.Student}}   </p></li>

  {% for grade in subject.Grade_set.all %}
    <hr>
<li><strong>Quiz :	</strong><span></span>	{{professor.Grade.quiz}} </li>
<li><strong>Performance :	</strong>  			{{Grade.performance}}  </li>
<li><strong>Exam :	</strong>				{{Grade.exam}}  </li>
<li><strong>Grade :	</strong> 				{{professor.grade.get_computed}}   </li>
<li><strong>Mark :	</strong>				{{professor.grade.mark}}  </li>

    {% endfor %}
  </div>
{% endblock %}

]


