

    <h1>Student List</h1>
<div>
      {% for students in students %}
      <li>
        <a>{{students.First_name }} {{students.Middle_name }} {{students.Last_name }}</a>
			<p>Course:
			{% for course in students.course.all %}
			{{ course }}
			{% endfor %}</p>
			
			<p>Subjects:</p>
			{% for subject in students.grade.all %}
			 <p>{{ subject }} Trinal Grade: {{ subject.grade_1 }} </p>
							  <p>-------Midterm Grade: {{ subject.grade_2 }} </p>
							  <p>-------Finals Grade: {{ subject.grade_3 }}</p>
							  <p>-------Professor: {{subject.Professor}}</p>
			{% endfor %}</p>
      </li>
      {% endfor %}
  </div>




