{% extends "base_generic.html" %}

{% block content %}
  
<h1> Student:<strong>{{student.Last_name }} {{student.First_name}}<strong></h1>
<h1>Subject : {{student.grade.Subject}} </h1>
<br></br>
<p style="font-color:red;"><strong> {{student.Professor}} </strong>  </p>

<li><strong>Quiz :	</strong><span></span>	{{student.grade.quiz}} </li>
<li><strong>Performance :	</strong>  			{{student.grade.performance}}  </li>
<li><strong>Exam :	</strong>				{{student.grade.exam}}  </li>
<li><strong>Grade :	</strong> 				{{student.grade.get_computed}}   </li>
<li><strong>Mark :	</strong>				{{student.grade.Mark}}  </li>


{% endblock%}

    <hr>
    <p class="{% if student.grade.Mark.mark == 'Pass' %}text-success{% elif student.grade.Mark.mark  == 'Fail' %}text-danger{% else %}text-warning{% endif %}"></p>

